Repository netguru/heroes-api, pull requests merged in 2019-11, with the labels that each got.

#35 fix: add type field to the PUT request response
  src/rest/controllers/Heroes.ts
Labels: ready for review, rest api

#36 feat: add get random hero endpoint
  src/rest/controllers/Heroes.ts
  src/server-rest.ts
Labels: ready to merge, rest api

#37 Fixed types, imports
  .gitignore
  src/graphql/Avatar/avatar-mutation.ts
  src/graphql/Avatar/avatar-query.ts
  src/graphql/Avatar/avatar-schema.graphql
  src/graphql/Hero/hero-custom.ts
  src/graphql/Hero/hero-mutation.ts
  src/graphql/Hero/hero-query.ts
  src/graphql/Type/type-mutation.ts
  src/graphql/Type/type-query.ts
  src/rest/controllers/Avatars.ts
  src/rest/controllers/Heroes.ts
  src/rest/controllers/Types.ts
  src/server-graphql.ts
  src/server-rest.ts
  tsconfig.json
Labels: ready to merge

#38 Docs/add pull request template
  PULL_REQUEST_TEMPLATE.md
Labels: ready for review

#32 Assets/avatars
  .env
  .env.example
  .gitignore
  assets/afro_man.png
  assets/anime.png
  assets/apple_watch.png
  assets/avocado.png
  assets/baby_kid.png
  assets/batman.png
  assets/bear_russian.png
  assets/breaking_bad.png
  assets/builder.png
  assets/cactus.png
  assets/chaplin.png
  assets/cloud_crying.png
  assets/coffee_zorro.png
  assets/einstein.png
  assets/female.png
  assets/geisha.png
  assets/girl.png
  assets/girl_kid.png
  assets/grandma.png
  assets/halloween.png
  assets/harley_queen.png
  assets/hipster.png
  assets/indian_male.png
  assets/indian_man_2.png
  assets/marlin_monroe.png
  assets/nun_sister.png
  assets/ozzy.png
  assets/pencil.png
  assets/pilot.png
  assets/punk.png
  assets/santa_claus.png
  assets/sheep.png
  assets/sluggard.png
  assets/spider.png
  assets/trump.png
  assets/ufo.png
  assets/wrestler.png
  package-lock.json
  package.json
  seed/avatar.ts
  seed/hero.ts
  src/server-graphql.ts
  src/server-rest.ts
Labels: ready to merge

#39 feat(random-hero): implement query for GraphQL
  src/graphql/Hero/hero-query.ts
  src/graphql/Hero/hero-schema.graphql
Labels: graphql api, ready to merge
